@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  color:white;
  scroll-behavior: smooth;
  /*
  background-image:url(/backgroundnew.png);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-blend-mode: multiply;
  scroll-behavior: smooth;
  z-index:0;
  */
}

#background{
  position: fixed;
  z-index:-1;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.4);
  background-image:url(/backgroundnew.png);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

a {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
  background: rgba(20,20,20, 1)
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*background: #888;*/
  background: #47ffbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
  background: #47ffbb;
}

text{
  font-size: 16px !important;
  fill: #fff !important;
  font-family: Poppins !important;
}

.ityped-cursor {
  font-size: 72px;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
      opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
      opacity: 0;
  }
}

@media (max-width: 480px) {
  .ityped-cursor {
    font-size:36px;
  }

  .generateImageButton{
    display:none;
  }
}
